@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Verdana', sans-serif;
}

h1 {
  text-align: center;
  margin: 40px auto;
  border-bottom: 6px solid #26d577;
  padding-bottom: 20px;
  width: 600px;
}

.myList {
  font-size: 28px;
  text-align: center;
  /* background-color: blue; */
  width: 400px;
  padding: 0px;
  margin: 100px auto;
  border: 1px solid #bbb;
  border-top: 0px;
}

.myList li {
  list-style: none;
  /* background-color: #eee; */
  border-top: 1px solid #ccc;
  padding: 20px 20px;
  border-bottom: 6px solid transparent;
  transition: 0.2s;
}

.myList li:hover {
  border-bottom: 6px solid #44d241;
}
